#alphabeast {
    margin-left: 10px;
}

.alpha-button {
    display: inline-block;
}

.alpha-append {
    color: #000;
    text-decoration: none;
}

.alpha-changed {
    color: #800;
    text-decoration: underline;
}

.hide-at-start {
    display: none;
}